/*
-----------------------------------------
LOGIN
-----------------------------------------
*/

.clean-container {
  background: url('/assets/images/login.webp') no-repeat center;
  background-size: cover;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login-container {
  background: var(--white);
  backdrop-filter: blur(25px);
  border-radius: var(--radius);
  padding: 40px 20px 20px;
  width: 100%;
  max-width: 600px;

  a:not(.button) {
    @include rem-size(14px);
    color: var(--primary);

    &:hover {
      color: var(--primary);
    }
  }
}