/*
-----------------------------------------
BUTTONS
-----------------------------------------
*/


.button, button[type=button], input[type=button] {
  cursor: pointer;
  display: inline-block;
  border: none;
  -webkit-appearance: none;
  padding: 12px 36px;
  font-weight: var(--bold);
  @include rem-size(14px);
  width: auto;
  background: var(--primary);
  color: var(--white);
  border-radius: var(--radius);
  text-transform: uppercase;
  border: 2px solid var(--primary);
  @include transition();

  &:hover, &:active {
    background: var(--white);
    color: var(--primary);
  }

  &:focus {
    // outline: none;
  }

  @include mq('tablet') {
    @include rem-size(16px);
  }
}

.full-button {
  display: block;
  padding: 12px 36px;
  font-weight: var(--bold);
  @include rem-size(14px);
  background: var(--primary);
  color: var(--white);
  text-transform: uppercase;
  margin: 0 -24px -24px;
  text-align: center;
  border: 2px solid var(--primary);

  &:hover, &:active {
    background: var(--white);
    color: var(--primary);
  }
}


/* Button Group */

.button-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;

  &.group-center {
    justify-content: center;
  }

  &.group-right {
    justify-content: flex-end;
  }
}