/*
-----------------------------------------
Fonts
-----------------------------------------
*/


$fontUrl:  '../fonts/';


@font-face {
  font-family: 'icomoon';
  src:  url('#{$fontUrl}icons/icomoon.ttf?sb9g0p') format('truetype'),
    url('#{$fontUrl}icons/icomoon.woff?sb9g0p') format('woff'),
    url('#{$fontUrl}icons/icomoon.svg?sb9g0p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Use when paired with text
  &.align-middle::before {
    vertical-align: middle;
  }
}


.icon-shoe:before {
  content: "\e915";
}
.icon-measure:before {
  content: "\e916";
}
.icon-running:before {
  content: "\e917";
}
.icon-body-fat:before {
  content: "\e918";
}
.icon-scale:before {
  content: "\e919";
}
.icon-phone:before {
  content: "\e90f";
}
.icon-clear:before {
  content: "\e914";
}
.icon-telephone:before {
  content: "\e90f";
}
.icon-contact:before {
  content: "\e90f";
}
.icon-support:before {
  content: "\e90f";
}
.icon-call:before {
  content: "\e90f";
}
.icon-location:before {
  content: "\e910";
}
.icon-map-marker:before {
  content: "\e910";
}
.icon-pin:before {
  content: "\e910";
}
.icon-file_download:before {
  content: "\e912";
}
.icon-email:before {
  content: "\e911";
}
.icon-mail:before {
  content: "\e911";
}
.icon-markunread:before {
  content: "\e911";
}
.icon-local_post_office:before {
  content: "\e911";
}
.icon-menu:before {
  content: "\e90a";
}
.icon-eye:before {
  content: "\e90e";
}
.icon-financial:before {
  content: "\e90c";
}
.icon-health:before {
  content: "\e90d";
}
.icon-target:before {
  content: "\e90b";
}
.icon-quote:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\e900";
}
.icon-linkedin:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-book-with-arrow:before {
  content: "\e904";
}
.icon-chevron-left:before {
  content: "\e905";
}
.icon-chevron-right:before {
  content: "\e906";
}
.icon-shopping:before {
  content: "\e907";
}
.icon-www:before {
  content: "\e908";
}
