extends ../layouts/layout.pug

block layout
  include ../partials/header.pug
  .overlay(@click="show = false")

  main
    block content

  include ../partials/footer.pug
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.4.0/chartjs-plugin-annotation.min.js')